.reviews h2 {
    margin-left: 100px;
    margin-top: 60px;
    color: #254F4C;
    margin-bottom: 60px;
}

.review_desc {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.review_list {
    width: 300px;
    text-align: center;
    background-image: url(../../assets/icons/grp32.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.review_list h3 {
    color: #3B7976;
}

.review_list p {
    color: #061817;
    padding: 10px 20px;
    text-align: center;
    height: 50px;
}

.review_list img {
    margin-top: 50px;
    height: 80px;
    width: 85;
}

.p_date {
    color: #3B7976;
    font-size: 14px;
    margin-top: 90px;
    margin-bottom: 0;
}
