@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.nawBar ul li {
    display: inline;
    list-style: none;
    margin-left: 40px;
}

.nawBar {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.nawBar a {
    text-decoration: none;
    color: black;
}

.nawBar a:hover{
    color: #CE242B; /* Цвет ссылки при наведении */ 
    text-decoration: underline;
}

.nawBar h1 {
    cursor: pointer;
    color: #254F4C;
    margin: 0 60px 0 10px;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    display: flex;
}

.product_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #254F4C;
    width: 265px;
    margin: 80px 18px;
    color: white;
    border-radius: 45px;
    transition: 1s;
}

.product_block:hover{
    transform: scale(1.1); /* Увеличиваем масштаб */
    box-shadow: 0px 0px 20px #1D3130;
}

.product_block h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    align-items: center;
    line-height: 23px;
    margin-bottom: 25px;
}

.product_block .description {
    width: 231px;
    text-align: center;
    margin: 0 0 7px;

}

.product_block button {
    background-color: #FF583E;
    color: #fff;
    border: 0;
    padding: 13px 65px;
    border-radius: 35px;
    font-size: 15px;
    cursor: pointer;
    margin: 0;
}

.product_block b {
    font-size: 35px;
    color: #FF583E;
    margin: -20px 8px;
    cursor: pointer;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.product_block h3 {
    margin: 0;
}

.product_block img {
    margin-top: -55px;
    width: 200px;
    height: 180px;
}
