@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 88px;
    background-color: rgba(37, 79, 76, 1);
    height: 152px;
    width: 100%;
}

.Footer ul li {
    font-family: 'Roboto', sans-serif;
    display: inline;
    list-style: none;
    margin-left: 60px;
}

.Footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}

.Footer a:hover {
    color: #ffffff;
    /* Цвет ссылки при наведении */
}

img {
    margin-left: 4px;
    color: rgba(255, 255, 255, 1);
}